[tool.poetry]
name = "polykin"
version = "0.5.1"
description = "A polymerization kinetics library."
authors = ["HugoMVale <57530119+HugoMVale@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://hugomvale.github.io/polykin/"
repository = "https://github.com/HugoMVale/polykin"
documentation = "https://hugomvale.github.io/polykin/"
packages = [{ include = "polykin", from = "src" }]
keywords = ["polymer", "polymerization", "kinetics", "reaction"]
include = ["LICENSE"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Chemistry",
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
mpmath = "^1.3.0"
pydantic = "^1.10.13"
numpy = "^1.23.5"
scipy = "^1.11.4"
matplotlib = "^3.7.1"
nptyping = "^2.5.0"
pandas = ">=1.5.3"
# sqlalchemy = "^2.0.22"
# numba = "^0.58.1"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
ipykernel = "^6.20.0"
mkdocs = "^1.4.2"
mkdocs-material = "^9.5.3"
mkdocs-jupyter = "^0.24.6"
mkdocs-autolinks-plugin = "^0.6.0"
mkdocs-gen-files = "^0.5.0"
mkdocs-literate-nav = "^0.6.0"
black = "^23.3.0"
mkdocstrings = { extras = ["python"], version = "^0.22.0" }
mkdocs-bibtex = "^2.11.0"
markdown-exec = "^1.6.0"
mkdocs-gallery = "^0.7.8"
mkdocs-table-reader-plugin = "^2.0.3"
mkdocs-autorefs = "^0.5.0"
griffe-inherited-docstrings = "^1.0.0"

[tool.poetry.group.dev]
optional = true
[tool.poetry.group.dev.dependencies]
pytest = "^8.1.1"
pytest-xdist = "^3.5.0"
pytest-cov = "^5.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = ["-n=2", "--import-mode=importlib"]
